.color {
    color: #E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557;

}

/* Reset. */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1FAEE;
}

/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel-img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.bottom {
    background-color: #E63946;
    z-index: 1;
}

.bottom .description {
    right: 5%;
    color: #F1FAEE;
}

.top {
    background-color: #F1FAEE;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.top .description {
    left: 5%;
    color: #E63946;
}

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: #457B9D;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-45deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(45deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

.logo-oil {
    width: 15%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
}

.img-responsive {
    width: 100%;
    padding: 0%;
    box-shadow: none;
    width: 100% !important;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: none;
    border: none;
    border-radius: 1% !important;
    padding-left: 10%;
    padding-top: 5%;
}

.click-btn {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    text-align: center;
    right: 5%;
    color: #E63946;
    background-color: #F1FAEE;
    border: 5px solid #E63946;
    padding: 15px;
    font-size: 25px;
    border-radius: 36px;
    width: 20%;
}

.click-btn {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-offset: 0px;
}

.click-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px #E63946, 0 0 20px #A8DADC;
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

/* navbar */
.navbar-ext {
    background-color: #F1FAEE;
    z-index: 1000;
}

.nav-button {
    display: flex;
    overflow: hidden;
    padding: 10px 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    background-color: #E63946;
    border: 0 none;
    border-radius: 36px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    margin-right: 15%;
}

.nav-button:hover {
    background-color: #F1FAEE;
    outline: #1D3557;
    color: #1D3557;
    border: 2px solid #1D3557;
}

/* video desc css */
.vid-desc {
    width: 100% !important;
    margin: 0% !important;
    padding: 5% 20% 0 20% !important;
    text-align: right;
    color: #E63946;
}

.vid-desc p {
    margin: auto;
    display: flex;
    justify-content: center;
    color: #1D3557;
}

.laptop-screen {
    position: relative;
    border: 5px double grey;
    background-color: black;
    padding: 3% 2%;
    margin: 35% 8% 0% 8%;
    border-radius: 36px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.laptop-key {
    content: '';
    display: block;
    margin: 0%;
    height: 30px;
    background: black;
    border-radius: 6px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 2px solid rgb(206, 202, 202);
    filter: drop-shadow(5px 20px 6px grey);
    margin-bottom: 5%;
}

.laptop-screen img {
    border: 1px solid #F1FAEE;
    border-radius: 6px;
    width: 100%;
    max-height: 450px !important;
}

.slider-row {
    width: 100% !important;
    background-image: url('../images/bg-lap.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    margin-top: 10%;
}

.cam-dot {
    position: absolute;
    color: white;
    top: 0%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 7px;
    border: 1px solid gray;
    box-shadow: 1px 2px #888888;
}
/* join us section */
.join-row{
    margin: 0%;
    width: 100% !important;
    padding: 5% 20% 5% 20% !important;
    text-align: right;
    background-color: #E63946;
}